* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgb(52, 56, 61);
}

#root {
  h1 {
    text-align: center;
    color: white;
    padding-bottom: 20px;
    font-size: 25px;
  }

  a {
    color: #a62ce5;
    font-weight: 600;
    transition: .3s;

    &:hover {
        opacity: .8;
    }
  }

  .logout-btn {
    background: #504f4f;
    color: #757575;
    width: 200px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: .3s;

    &:hover {
        color: white;
        box-shadow: 0 0 5pt 0.5pt #d3d3d3;
    }
  }
}
